
@section Scripts
{
    <script src="@Url.Content("~/js/recipe.js")"></script>
}
@{
    ViewData["Title"] = "Recipies";
}

<div>
    <h1>Welcome</h1>
    <p>To the recipes page.</p>
    <p>To the home <a href="~/">home page.</a></p>
</div>
