@{
    ViewData["Title"] = "Error Page";
}

<div>
    <h1>There was an internal server error.</h1>
    <p>To the home <a href="~/">home page.</a></p>
    <p>If the problem persists, please contact support.</p>
</div>
