@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome</h1>
    <p>To the home page.</p>
    <p>Tech Project for <a href="~/Recipes">managing recipes.</a></p>
    <p>Tech Project for <a href="~/Home/SoccerCalendar">soccer calendar.</a></p>
</div>