@using Objects

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index, follow">
  <meta name="application-name" content="@{@GlobalizationResource.Business_Name}">
  <meta property="og:title" content="@{@GlobalizationResource.Business_Name}">
  <meta property="og:site_name" content="@{@GlobalizationResource.Business_Name}">
  <meta property="og:locale" content="es_ES">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy"
        content="
          default-src
            'self'
            'unsafe-inline'
            'unsafe-eval'
            https://*.google.com
            https://*.google-analytics.com
            https://*.googletagmanager.com
            https://*.gstatic.com
            https://*.googleapis.com;
        ">

  <base href="/">
  <title>@{@GlobalizationResource.Business_Name}</title>

  <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  @*Include Styles, this is dynamically done via ng build*@
</head>
<body>

  @RenderBody()
  <app-root></app-root>

  @RenderSection("Scripts", required: false)
  @*Include Scripts, this is dynamically done via ng build*@
</body>
</html>
